$min-document-width: 1200px;
$slide-width: 200px;

$primary-color: #04407c;
$default-color: #565656;
$body-bgColor: #f2f3f8;
$menu-active-bgColor: $primary-color;
$menu-hover-bgColor: rgba(4, 64, 124, 0.6);
